{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Аналитика{% endblock %}

{% block content %}
<div class="container">
    <select name="team" id="team">
        <option value="basketball">Баскетбол</option>
        <option value="football">Футбол</option>
        <option value="volleyball">Волейбол</option>
    </select>
    <div class="calendar">
        <div class="calendar-header">
            <h1 class="month">{{ month }}</h1>
            <a href="{{ prev }}" class="calendar-button">Предыдущий</a>
            <a href="{{ next }}" class="calendar-button">Следующий</a>
        </div>
        <div class="calendar-days">
            <div class="row based">
                <div>
                    <span>Пн</span>
                </div>
                <div>
                    <span>Вт</span>
                </div>
                <div>
                    <span>Ср</span>
                </div>
                <div>
                    <span>Чт</span>
                </div>
                <div>
                    <span>Пт</span>
                </div>
                <div>
                    <span>Сб</span>
                </div>
                <div>
                    <span class="red">Вс</span>
                </div>
            </div>
            {% for row in rows %}
            <div class="row">
                {% for day in row %}
                    <div>
                    <span class="{{ day.1 }}">{{ day.0 }}</span>
                    {% if day.2 != -1 %}
                        <p class="prognoz {{ day.3 }}">{{ day.2 }}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container">
    <div class="teams-flex flex">
        <h1 class="angry">
            ИГРОКИ <span class="color">СБОРНОЙ</span>
        </h1>
    </div>
    <div class="team-table">
        <div>
            <span><b>ФИО</b></span>
            <span><b>Группа</b></span>
        </div>
        {% for member in team %}
        <div>
            <span>{{ member.0 }}</span>
            <span>{{ member.1 }}</span>
        </div>
        {% endfor %}
    </div>
    <button class="main-button" style="margin-top: 20px;">
        ДОБАВИТЬ ИГРОКА +
    </button>
    <button class="main-button" style="margin-left: 20px;">
        УДАЛИТЬ ИГРОКА -
    </button>
</div>
{% endblock %}