{% extends 'main/layout.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="container">
    <div>
        <h1 class="angry color main-text">РЕЗУЛЬТАТИВНОСТЬ</h1>
        <h1 class="angry main-text">КОМАНД НА ИГРАХ</h1>
    </div>
    <div class="main-flex">
        <p>Анализ состава сборной с <br> учётом статистики игр и <br> нагруженности членов <br> состава</p>
        <a href="" class="main-button">АДМИН >>>></a>
        <div class="flex vertical" style="align-items: end;">
            <div class="square" style="height: 150px; width: 130px;"></div>
            <div class="square" style="height: 300px; width: 200px;"></div>
        </div>
    </div>
</div>
<div class="container" style="background-color: #B9B9B9;">
    <h1 class="angry">О <span class="color">POLYSPORTS</span></h1>
    <div style="display: flex; margin-top: 40px;">
        <div style="text-align: center;">
            <img class="circle-image" src="" alt="">
            <p><b>Анализ</b></p>
            <p>Анализ состава сборной с учётом статистики игр и нагруженности членов состава</p>
        </div>
        <div style="text-align: center;">
            <img class="circle-image" src="" alt="">
            <p><b>Анализ</b></p>
            <p>Анализ состава сборной с учётом статистики игр и нагруженности членов состава</p>
        </div>
        <div style="text-align: center;">
            <img class="circle-image" src="" alt="">
            <p><b>Анализ</b></p>
            <p>Анализ состава сборной с учётом статистики игр и нагруженности членов состава</p>
        </div>
        <div style="text-align: center;">
            <img class="circle-image" src="" alt="">
            <p><b>Анализ</b></p>
            <p>Анализ состава сборной с учётом статистики игр и нагруженности членов состава</p>
        </div>
    </div>
</div>
<div class="container" style="background-color: #EEEEEE;">
    
</div>
{% endblock %}