{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Матчи{% endblock %}

{% block content %}
<div class="container">
    <div class="teams-flex flex">
        <h1 class="angry">
            МАТЧИ <span class="color">«Черных Медведей»</span>
        </h1>
    </div>
    <button class="main-button" style="margin-top: 20px;">
        ДОБАВИТЬ МАТЧ +
    </button>
    <button class="main-button" style="margin-left: 20px;">
        УДАЛИТЬ МАТЧ -
    </button>
    <div class="matches-table">
        {% for match in matches %}
        <div>
            <span>{{ match.0 }}</span>
            <div class="match-info">
                <span>{{ match.1 }}</span>
                <img src="{% static 'main/img/bears.png' %}" alt="логотип">
                <h1><b>{{ match.2 }}</b></h1>
                <img src="{% static 'main/img/tiger.png' %}" alt="логотип">
                <span>{{ match.3 }}</span>
            </div>
            <span>{{ match.4 }}</span>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}