{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Сборные{% endblock %}

{% block content %}
<div class="container">
    <div class="teams-flex flex">
        <h1 class="angry">
            ИГРОКИ <span class="color">СБОРНОЙ</span>
        </h1>
    </div>
    <select name="team" id="team">
        <option value="basketball">Баскетбол</option>
        <option value="football">Футбол</option>
        <option value="volleyball">Волейбол</option>
    </select>
    <div class="team-table">
        <div>
            <span><b>ФИО</b></span>
            <span><b>Группа</b></span>
        </div>
        {% for member in team %}
        <div>
            <span>{{ member.0 }}</span>
            <span>{{ member.1 }}</span>
        </div>
        {% endfor %}
    </div>
    <button class="main-button" style="margin-top: 20px;">
        ДОБАВИТЬ ИГРОКА +
    </button>
    <button class="main-button" style="margin-left: 20px;">
        УДАЛИТЬ ИГРОКА -
    </button>
</div>
{% endblock %}