@font-face {
    font-family: Angry;
    src: url(ANGRY.OTF);
}

:root{
    --text-color: #000000;
    --header-text: #37B34A;
    --header-highlight: #00392A;
    --main-text: #105D3B;

    --background-color: #ffffff;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.angry {
    font-family: 'Angry';
}

.color {
    color: var(--main-text);
}

body{
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: var(--text-color);
}

header {
    background-color: var(--background-color);
    margin-bottom: 20px;
    margin: 0px 8vw;
    padding-top: 10px;

    font-family: 'Angry';
    font-weight: 700;
    font-size: 1.2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    text-align: center;

    border-bottom: 2px solid var(--text-color);
}

header .logo {
    height: 50px;
    margin-right: 3vw;
}

header .link {
    color: var(--header-text);
    transition: 0.2s;
    padding: 20px;
    flex-grow: 1 0;
}

header .link:hover {
    color: var(--header-highlight);
}

.container {
    padding: 8vh 8vw;
}

.container .teams-flex {
    justify-content: center;
}

.container .team-table {
    margin-top: 20px;
}

.container .team-table div {
    display: flex;
    justify-content: space-between;
    font-size: larger;
    margin-bottom: 10px;
}

.container .matches-table {
    margin-top: 20px;
}

.container .matches-table > div {
    display: flex;
    justify-content: space-between;
    background-color: #EEEEEE;
    border: 2px solid #000;
    border-radius: 30px;
    padding: 0px 30px;
    margin-bottom: 20px;
    align-items: center;
}

.calendar-header {
    display: flex;
    justify-content: center;
}

.calendar {
    font-size: larger;
}

.calendar .month {
    margin-right: 10px;
}

.calendar .month-switch {
    border: 0;
    font-size: larger;
    background: 0;
    margin: 0 5px;
}

.calendar-days .row {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 1px solid #000;
    padding: 10px;
}

.calendar-days .hide {
    opacity: 50%;
}

.calendar-days .row > div {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar-days .prognoz {
    border-radius: 50%;
    padding: 10px;
    background-color: #ddd;
    color: #fff;
}

.calendar-days .red {
    color: #F76060;
}

.calendar-days .good {
    background-color: #1BD305;
}

.calendar-days .imm {
    background-color: #869C28;
}

.calendar-days .bad {
    background-color: #A54813;
}

.calendar-button {
    padding: 5px 30px;
    border-radius: 20px;
    margin-left: 20px;
}

.matches-table .match-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.matches-table .match-info h1 {
    display: inline;
    margin: 0 10px;
}

.matches-table .match-info img {
    margin: 0 20px;
}

select {
    border-radius: 20px;
    border-color: #666666;
    padding: 5px 20px;
    font-size: large;
}

.container2 {
    background-color: #B9B9B9;
    padding: 8vh 8vw;
}

.container2 .card {
    text-align: center;
    flex-grow: 1;
}

.flex {
    display: flex;
}

.square {
    background-color: #D9D9D9;
    border-radius: 15px;
    margin-left: 20px;
    width: 100%;
}

.main-text {
    text-align: center;
}

.main-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    width: 100%;
}

.main-flex p {
    max-width: 20vw;
}

.main-flex .flex {
    align-items: end;
    min-width: 20vw;
}

.main-button {
    background-color: #222222;
    color: white;
    padding: 15px 30px;
    border-radius: 15px;
}

.circle-image {
    border-radius: 50%;
    background-color: #fff;
    width: 15vw;
    height: 15vw;
}

.login-cnt {
    margin: 0 auto;
    text-align: center;
    background: var(--background-color);
    padding: 3vh 24px;
    border-radius: 20px;
    border: 1px solid var(--text-color);
    filter: drop-shadow(0 0 0.25rem var(--text-color));
}

.login-cnt .message {
    position: absolute;
    bottom: 100%;
    left: 0;
    border: 1px solid var(--text-color);
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 10px 10px;
    margin-bottom: 10px;
    background: var(--background-color);
}

.login-cnt form {
    display: flex;
    flex-direction: column;
}

.login-cnt label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
}

.login-cnt form > * {
    margin-bottom: 10px;
}

.login-cnt form > *:last-child {
    margin-bottom: 0;
}

.login-cnt input {
    border: 1px solid var(--text-color);
    border-radius: 6px;
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
}

.login-cnt input:focus {
    outline: none;
}

.login-cnt #submit {
    background-color: var(--background-color);
    color: var(--text-color);
    margin-top: 10px;
    padding: 6px 20px;
    font-size: 1rem;
    transition: 0.2s;
    width: auto;
}

.login-cnt #submit:focus,
.login-cnt #submit:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

.login-cnt .under {
    margin-top: 12px;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
}

.login-cnt button {
    text-decoration: underline;
    padding: 0 5px;
    background: none;
    border: 0;
    color: var(--text-color);
}

.login-cnt button:hover {
    opacity: 70%;
    cursor: pointer;
}

.prf-cnt {
    margin: 0 20px;
}

.prf-cnt .prf-upper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}

.prf-cnt .main-info {
    padding: 3vh 20px;
    background: var(--background-color);
    border-radius: 20px;
    border: 1px solid var(--text-color);
    filter: drop-shadow(0 0 0.25rem var(--text-color));
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 10px 15px;
}

.prf-cnt .profile-img {
    display: inline-block;
    width: 50%;
    border: 1px solid var(--text-color);
    border-radius: 10px;
}

.prf-info {
    display: inline-block;
    height: 100%;
}

.prf-upper .info-row {
    margin-bottom: 10px;
}

.prf-upper .info {
    font-size: 0.8rem;
}

.prf-cnt h1 {
    margin: 0;
    margin-bottom: 15px;
}

.prf-upper .row-p {
    margin: 0;
    font-weight: 700;
}

.prf-control {
    padding: 3vh 24px;
    background: var(--background-color);
    border-radius: 20px;
    border: 1px solid var(--text-color);
    filter: drop-shadow(0 0 0.25rem var(--text-color));

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 5;
}

.prf-control .info-row {
    width: 50%;
    height: 50%;
}

footer {
    background-color: #2D2D32;
    color: white;
    padding: 20px 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    flex-wrap: wrap;

    border-top: 1px solid var(--text-color);
    filter: drop-shadow(0 0 0.4rem var(--text-color));
}